@import url(./root.css);
@import url(./reset.css);

@import url(./components/main-button.css);
@import url(./components/section-title.css);
@import url(./components/product-type-card.css);
@import url(./components/card-product.css);
@import url(./components/submit-button.css);
@import url(./components/social-icon.css);
@import url(./components/back-home-button.css);
@import url(./components/menu-burger.css);

@import url(./sections/header.css);
@import url(./sections/home.css);
@import url(./sections/main-content.css);
@import url(./sections/services.css);
@import url(./sections/contact-us.css);
@import url(./sections/footer.css);

body {
  background-color: var(--black-500);
  font-family: "Inter", sans-serif;
  color: var(--white-500);
  overflow-x: hidden;
}

section {
  padding: 1.5rem 3rem;
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  section {
    padding: 0.5rem 1rem;
  }
}