:root{
  --bg-color: #1C1C1E;
  --bg-overflow: #2C2C2E;
  --gray-700: #3A3A3C;
  --gray-600: #48484A;
  --accent-color: #F9C739;
  --white-color: #f5f5f5;
  --font-color: #8E8E93;
  --radius-default: 16px;
}
