@import url(../../../../assets/css/colors.css);
@import url(../../../../assets/css/swal_style.css);
@import url(../../../../assets/css/reset.css);
@import url(main.css);

body {
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    max-width: 100vw;
    align-items: center;
    justify-content: center;
    margin: 0 60px;
}

body .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

body::after {
    content: url("../../../../assets/img/cheese_upper.png");
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

body::before {
    content: url("../../../../assets/img/cheese_lower.png");
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: -1;
}

@media (max-width: 680px) {
    body::after, body::before {
        display: none;
    }

    body {
        margin: 0 30px;
    }

    body div {
        width: 100%
    }

    .main-container-login {
        height: auto;
        width: 100%;
    }

    .main-container-login__form-group {
        gap: 40px;
    }
}
