@import url(../../../../assets/css/components/scrollbar.css);
@import url(../../../../assets/css/swal_style.css);
@import url(../../../../assets/css/mobile.css);
@import url(../../../../assets/css/reset.css);
@import url(../../../../assets/css/colors.css);
@import url(header.css);
@import url(main.css);

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;

    background: var(--bg-color);
    color: var(--white-color);
    max-width: 100vw;
}

h2 {
    font-size: 48px;
}

.ingredient-box input {
    display: none;
}

.ingredient-box label {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100px;
    min-width: 80px;
    background: var(--gray-700);
    border-radius: 12px;

    font-size: 18px;
    color: var(--font-color);
}

.ingredient-box input:checked ~ label {
    color: var(--accent-color);
    font-weight: bold;
    text-shadow: 1px 1px 10px var(--font-color);

    border: 2px solid var(--accent-color);
    padding: 18px 18px;
}

.title_ingredients {
    font-size: 22px;
    color: var(--accent-color);
}

.outer-box {
    background-color: var(--bg-overflow);
    padding: 10px 20px;
    border-radius: 12px;
    width: 300px;
}

.outer-box li {
    display: flex;
    flex-direction: row;
    padding: 15px 0px;
    flex-wrap: wrap;
    gap: 15px;
}

@media (max-width: 1300px) {
    .header {
        top: 0;
        height: fit-content;
    }

    .main__form form {
        display: flex;
        height: 100%;
        flex-direction: column;
        gap: 20px;
    }

    .main__form {
        width: 90%;
        height: 100%;
    }

    .file {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button_cadastro {
        width: 90%;
    }
}

@media (max-width: 720px) {
    /*body {*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*}*/
    /*main {*/
    /*    flex-grow: 1;*/
    /*}*/
}
